<%- include('../layouts/header.ejs')%>

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>General Tables</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Tables</li>
                    <li class="breadcrumb-item active">General</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Table with hoverable rows</h5>

                            <!-- Table with hoverable rows -->
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">City</th>
                                        <th scope="col">State</th>
                                        <th scope="col">mail</th>
                                        <th scope="col">Status</th>
                                        <th scope="col" colspan="2">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%city.map((item,i)=>{%>
                                        <tr>
                                            <td><%=i+1%></td>
                                            <td><%=item.city%></td>
                                            <td><%=item.state.state%></td>
                                            <td><%=item.mail%></td>
                                            <td>
                                                <%if(item.status){%>
                                                    <a href="/fun/cstatus?id=<%=item.id%>&status=false"
                                                        class="btn btn-success">Active</a>
                                                    <%}else{%>
                                                        <a href="/fun/cstatus?id=<%=item.id%>&status=true"
                                                            class="btn btn-danger">Deactive</a>
                                                        <%}%>
                                            </td>
                                            
                                            <!-- <td scope="col"> <a href="/fun/updatecitypage/?id=<%=item.id%>" class="btn btn-success">Update</a></td> -->
                                            <td scope="col"><a href="/fun/deletecity/?id=<%=item.id%>" class="btn btn-danger">Delete</a></td>
                                        </tr>
                                        <%})%>
                                </tbody>
                            </table>
                            <!-- End Table with hoverable rows -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>

    <%- include('../layouts/footer.ejs')%>